<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boateng.tomatodisease">

    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tomato Disease Detector"
        android:theme="@style/Theme.Tomatodisease"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round">

        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Camera Activity -->
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Results Activity -->
        <activity
            android:name=".ResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- History Activity -->
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>